<p>Adjective: an adjective is used to give information about a noun. For example in 'The monster is scary' the word 'scary' is an adjective giving information about the monster. Adjectives can appear at the end of a sentence or before a noun, for example "The scary monster is in the forest".</p>
