<p>Adverb: Adverbs give information about adjectives, verbs, or other adverbs. For example, in "The bird is very fast" the adverb "very" gives information about the adjective "fast". In "She quickly answered the questions" the adverb quickly describes how fast the person answered the questions.</p>
