<p>Count / non-count nouns: Some nouns can be counted while others cannot be counted. Substances and very small things cannot be counted, for example water and hair cannot be counted. Things that you can easily see pieces of can be counted, for example books and monsters can be counted.</p>
