<p>可算名詞と不可算名詞：名詞には数えられるものと数えられないものがあります。数えられる場合は、末尾に's'や'es'が付きます。この文法のポイントには明確なルールはありませんが、学習を容易にするためのヒントがあります。物質は数えることができません。例えば、パンや水、空気などは数えることができません。一つひとつの具体的な例が見られるものは数えることができます。例えば、椅子や本、リンゴ、モンスターなどが数えられるものです。</p>
