<p>Present continuous: Present continuous is a verb tense that is used to describe actions that are happening right now or actions that are happening over a period of time. For example, "I am walking" or "She is eating.”</p>
