<p>現在完了:現在完了は過去に始まった行動や出来事が現在との関連性を示すために使用される動詞の時制です。例えば、「I have finished my homework.（宿題を終えました。）」とか「They have lived in Japan for five years.（彼らは日本に5年間住んでいます。）」といった文で使われます。この時制は、行動が起こった具体的な時刻よりもその結果や完了を強調します。過去と現在のつながりを示し、行動の持続的な関連性や影響を強調します。</p>
