<p>Simple present: Simple present is a verb tense used to describe actions or states that are habitual, regular, or general truths. It is used to talk about things that happen in the present or are always true. For example, "I work at a company.” or "She likes to read books.”</p>
<p>現在形：現在形は、習慣的な行動や定期的な状態、一般的な真実を表すために使われる動詞の時制です。現在起こっていることや常に真実であることを話すために使用されます。例えば、「I work at a company.（私は会社で働いています。）」や「She likes to read books.（彼女は本を読むのが好きです。）」といった表現があります。</p>
