
<h1>wrong</h1>
<%# <%= link_to character_monster_path(character, monster), class:"btn btn-danger" %>
<a href="/characters/<%= character.id %>/maps/monsters/<%= monster.id %>/questions/show_battle" class="btn btn-danger"></a>

