<% monster_health = 4 %>
  <h2>Your health</h2>
  <% @show_health.times do %>
    <button class="health-bar" style="margin-top:10px;"></button>
  <% end %>

  <h2>Monster health</h2>
  <% @monster.current_health.times do %>
    <button class="health-bar" style="margin-top:10px;"></button>
  <% end %>

  <% if @monster.current_health <= 0 %>
    <%= render 'battle_end', monster:@monster, character:@character %>
  <% end %>

  <% if @answer.correct %>
    <%= render "correct", monster:@monster, character:@character %>
  <% else %>
    <%= render "wrong", monster:@monster, character:@character %>
  <% end %>
