<% monster_health = 4 %>
  <h2>Your health</h2>
  <% @show_health.times do %>
    <button class="health-bar" style="margin-top:10px;"></button>
  <% end %>

  <h2>Monster health</h2>
  <% monster_health.times do %>
    <button class="health-bar" style="margin-top:10px;"></button>
  <% end %>

  <% if @answer.correct %>
    <% monster_health -= 1 %>
    <%= render "correct" %>
      <% if monster_health = 0 %>
        <%= render 'battle_end' %>
      <% end %>
  <% else %>
    <%= render "wrong" %>
  <% end %>
<% end %>
