<footer class="l-footer">
  <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/twinkl-video-games-2_ver_1.jpg" alt="logo">
  <div class="l-footer__inner__lower">
    <ul class="aboutSite">
      <li><a href="#" id="scrollToTop"><i class="fa-solid fa-angles-up"></i></a></li>
      <li><%= link_to "Contact Us", root_path %></li>
      <li><%= link_to "About Us", root_path %></li>
    </ul>
  </div>
</footer>
<script>
  document.getElementById("scrollToTop").addEventListener("click", function() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
</script>
