<div class="choices">
  <div class="row">
    <%= render 'shared/button', local: choices[0] %>
    <%= render 'shared/button', local: choices[1] %>
  </div>
  <div class="row">
    <%= render 'shared/button', local: choices[2] %>
    <%= render 'shared/button', local: choices[3] %>
  </div>
</div>
