<div id="box" style="border: 2px solid black; width: 1260px; height: 720px; margin-top:15px; margin-left:110px;">
  <div id="sprite" style="left: 150px; bottom: 0px; top: 300px; position:absolute;"></div>
  <div id="sprite2" style="left: 150px; bottom: 0px; top: 150px; position:absolute;"></div>
  <div id="rat" class="monster" data-id="10" style="position:absolute"></div>
  <div id="wolf" class="monster" data-id="11" style="position:absolute"></div>
  <div id="bat" class="monster" data-id="12" style="position:absolute"></div>
</div>

<script>
  const box = document.querySelector('#box');

  const monsters = document.querySelectorAll('.monster');
  let collidedMonster = null;

  const positions = [
    { left: '300px', top: '300px' },
    { left: '400px', top: '200px' },
    { left: '300px', top: '150px' },
    { left: '500px', top: '150px' },
    { left: '600px', top: '250px' },
  ];

  const shuffleArray = (array) => {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
  };

  const assignRandomPositions = () => {
    const shuffledPositions = shuffleArray(positions.slice());
    for (let i = 0; i < monsters.length; i++) {
      const monster = monsters[i];
      const { left, top } = shuffledPositions[i];
      monster.style.left = left;
      monster.style.top = top;
    }
  };

  assignRandomPositions();

  const sprite = document.querySelector('#sprite');
  const sprite2 = document.querySelector('#sprite2');
  const button = document.querySelector('button');
  let speed = 5;

  const toNum = (pxVal) => {
    return parseInt(pxVal, 10);
  };

  const resetSpritePosition = () => {
    sprite.style.left = '150px';
    sprite.style.top = '300px';
  };

  const handleMovement = (e) => {
    let left = toNum(sprite.style.left);
    const top = toNum(sprite.style.top);

    let left2 = toNum(sprite2.style.left);
    const top2 = toNum(sprite2.style.top);

    collidedMonster = null;

    for (let i = 0; i < monsters.length; i++) {
      const monster = monsters[i];
      const monsterRect = monster.getBoundingClientRect();

      if (
        left >= monsterRect.left &&
        left <= monsterRect.right &&
        top >= monsterRect.top &&
        top <= monsterRect.bottom
      ) {
        collidedMonster = monster;
        break;
      }
    }

    if (collidedMonster) {
      const monsterId = collidedMonster.dataset.id;
      window.location.href = `monsters/${monsterId}`;
      resetSpritePosition();
      assignRandomPositions();
    }

    if (
      left >= left2 &&
      left <= left2 + sprite2.offsetWidth &&
      top >= top2 &&
      top <= top2 + sprite2.offsetHeight
    ) {
      console.log('Sprite 1 reached the location of sprite2!');
      window.location.href = '<%= show_village_maps_path %>';
      resetSpritePosition();
      assignRandomPositions();
    }

    switch (e.key) {
      case 'ArrowLeft':
      case 'a':
        if (left <= 0) return (sprite.style.left = 0);
        sprite.style.left = left - speed + 'px';
        break;
      case 'ArrowRight':
      case 'd':
        if (left >= 1440) return (sprite.style.left = 1440);
        sprite.style.left = left + speed + 'px';
        break;
      case 'ArrowUp':
      case 'w':
        if (top <= 0) return (sprite.style.top = 0);

        sprite.style.top = top - speed + 'px';
        break;
      case 'ArrowDown':
      case 's':
        if (top >= 600) return (sprite.style.top = 600);
        sprite.style.top = top + speed + 'px';
        break;
    }
  };

  window.addEventListener('keydown', handleMovement);
</script>
