<div id="box" style="border: 2px solid black; width: 1260px; height: 720px; margin-top:15px; margin-left:110px;">
  <div id="sprite" style="left: 460px; bottom: 0px; top: 340px; position: absolute;"></div>
  <div id="sprite2" style="left: 600px; bottom: 0px; top: 320px; position:absolute;"></div>
  <div id="sprite3" style="left: 300px; bottom: 0px; top: 150px; position:absolute;"></div>
  <div id="sprite4" style="left: 600px; bottom: 0px; top: 100px; position:absolute;"></div>
  <div id="sprite5" style="left: 900px; bottom: 0px; top: 100px; position:absolute;"></div>
  <div id="sprite6" style="left: 1200px; bottom: 0px; top: 150px; position:absolute;"></div>
</div>
<style>
  #box {
     background-image: url(<%= asset_path('village.png') %>);
     background-repeat: no-repeat;
     width: 100%;
      height: 100%;

  }

  #sprite2 {
      width: 80px;
      height: 80px;
      background-image: url(<%= asset_path('go.png') %>);
      position: relative;
      transition: 0.1s linear;
  }
  #sprite {
      width: 45px;
      height: 60px;
      background-image: url(<%= asset_path( @character.icon_name ) %>);
      position: relative;
      transition: 0.1s linear;
  }
</style>
<script>
  const box = document.querySelector('#box');
  const sprite = document.querySelector('#sprite');
  const sprite2 = document.querySelector('#sprite2');
  const button = document.querySelector('button');
  let speed = 5;

  const toNum = (pxVal) => {
      return parseInt(pxVal, 10);
  };

  const resetSpritePosition = () => {
    sprite.style.left = '50px';
    sprite.style.top = '300px';
    }

  const handleMovement = (e) => {
      let left = toNum(sprite.style.left);
      const top = toNum(sprite.style.top);

      let left2 = toNum(sprite2.style.left);
      const top2 = toNum(sprite2.style.top);
      if (
      left >= left2 &&
      left <= left2 + sprite2.offsetWidth &&
      top >= top2 &&
      top <= top2 + sprite2.offsetHeight
  ) {

    console.log('Sprite 1 reached the location of Sprite 2!');
    window.location.href = '<%= maps_path %>';
    resetSpritePosition();
  }

      switch (e.key) {
          case 'ArrowLeft':
          case 'a':
              if (left <= 0) return (sprite.style.left = 0);
              sprite.style.left = left - speed + 'px';
              break;
          case 'ArrowRight':
          case 'd':
              if (left >= 1440) return (sprite.style.left = 1440);
              sprite.style.left = left + speed + 'px';
              break;
          case 'ArrowUp':
          case 'w':
              if (top <= 0) return (sprite.style.top = 0);
              sprite.style.top = top - speed + 'px';
              break;
          case 'ArrowDown':
          case 's':
              if (top >= 600) return (sprite.style.top = 600);
              sprite.style.top = top + speed + 'px';
              break;
      }
  };

  window.addEventListener('keydown', handleMovement);
</script>
