<div class="header-container">
  <div class="header-logo">
    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/twinkl-video-games-2_ver_1.jpg" alt="logo">
  </div>
  <div class="header-cards"><%= link_to "Top", root_path %></div>
  <div class="header-cards"><%= link_to "About the Game", root_path %></div>
  <div class="header-cards"><%= link_to "About Us", root_path %></div>
  <div class="header-cards"><%= link_to "Contact Us", root_path %></div>
</div>
