<div class="response">
  <label for="textarea_field" style="margin-bottom:2px;">You Answer:</label>
  <textarea id="textarea_field" class="nes-textarea" style="position:relative;float:left;border:none;margin-top:0;height:55px;
  resize: none;"></textarea>
</div>
