<div class="nes-container with-title is-centered absolute n" style="position:absolute;bottom:0;right:0;width:50%">
  <p class="title">Question</p>
  <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
</div>
