<%# need to add link to log in /sign in button. Insert the link after fixing the routes %>
<div class="home">
  <div class="center">
    <%= image_tag(asset_path('Logo.png')) %>
  </div>
  <div class="add-font">
    <h2 class='create-btn nes-btn is-warning mx-5'>Log in / Sign in</h2>
  </div>
</div>
