<%= render "shared/header" %>
<div class="contain-home">
  <div class="contain-inner">
    <%= image_tag("Logo.png", alt: "logo") %>
  </div>
  <div class="contain-inner">
    <h4>Word Quest</h4>
    <h5>Study English with this fun RPG game!</h5>
    <%= link_to "Time to play the game!", home_path, class: "btn btn-ghost" %>
  </div>
</div>
<%= render "shared/footer" %>
