<div class="" style="width: 100vw; height: 100vh;">
  <div id="tavern">
    <div id="hero"></div>
    <div id="wizard"></div>
    <div id="book"></div>
    <div style="margin-left:490px;">
      <p class ="word" style="color:yellow"> Welcome to Word Quest! </p>
    </div>
    <div style="margin-left:560px;">
      <p class ="word" style="color:yellow"> Instructions </p>
    </div>
    <div class="word book-page d-flex" style="margin-left:410px; margin-top:0px">
      <div>
        <div class="hints"> <%= "hello im the blue wizard" %> </div>
      </div>
      <div style="margin-left: 70px;">
        <div class="hints"> <%= "and this is my world..etc" %> </div>
      </div>
    </div>
  </div>
</div>
<script>
