<%= link_to  show_village_character_maps_path(params[:id]) do %>
  <div class="center1" style="border-radius:0px; width: 100%; height: 100%;">
    <div id="tavern">
      <div id="hero"></div>
      <div id="wizard"></div>
      <div id="book"></div>
      <div style="margin-left:40wv; margin-top:30px">
        <p class ="word" style="color:yellow"> Welcome to Word Quest! </p>
      </div>
      <div style="margin-left:560px;">

      </div>
      <div class="word book-page d-flex" style="margin-left:410px; margin-top:80px">
        <div>
          <div class="hints"> <%= "Hello im the blue wizard. I am here to guide you through your quest. The evil wizard Korrad is stealing language from the world." %> </div>
        </div>
        <div style="margin-left: 70px;">
          <div class="hints"> <%= "You have the magic ability to use language to defeat his monsters. I need you to help me save the world using the magic of language!" %> </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
