.container {
  margin-top: 50px;
  font-family: 'Press Start 2P', cursive;;
  width: 100%;
}

.container > h2 {
  font-family: 'Press Start 2P', cursive;;
  text-align: center;
}

.cards {
  margin-top: 50px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

.card  {
  width:100%;
  display:flex;
  justify-content: center;
  padding: 5px;
}

.ns-border:hover {
  background-color: #108DE0;
}

.ns-border {
  width:300px;
  height:100%;
}
