
  #box_castle {
    background-image: url('mapcastle.png');
    width: 100%;
    height: 100%;

  }
   #box_ruin {
    background-image: url('mapruin.png');
    width: 100%;
    height: 100%;
    }
   #box_cave {
    background-image: url('mapcave.png');
    width: 100%;
    height: 100%;
    }
  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
  }

    .cave {
      width: 120px;
      height: 100px;
      background-image: url('signcave.png');
      background-repeat: no-repeat;
      position: relative;
      transition: 0.1s linear;
    }


    .tower {
      width: 120px;
      height: 100px;
      background-image: url('signtower.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }


    .ruin {
      width: 120px;
      height: 100px;
      background-image: url('signruin.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }

    #box {
      background-image: url('forest2.png');
      width: 100%;
      height: 100%;

    }

    #sprite2 {
      width: 80px;
      height: 80px;
      background-image: url('back.png');
      position: relative;
      transition: 0.1s linear;
    }


    #rat{
      width: 120px;
      height: 100px;
      background-image: url('monster1.png');
      background-repeat: no-repeat;
      position: relative;
      transition: 0.1s linear;
    }

    #bat{
      width: 120px;
      height: 100px;
      background-image: url('monster3.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }
    #wolf {
      width: 120px;
      height: 100px;
      background-image: url('monster2.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }

    #ratwarrior{
      width: 300px;
      height: 300px;
      background-image: url('ratwarrior.png');
      background-repeat: no-repeat;
      position: relative;
      transition: 0.1s linear;
    }

    #warrior{
      width: 300px;
      height: 300px;
      background-image: url('warrior.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }
    #dragon {
      width: 500px;
      height: 500px;
      background-image: url('dragon.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }

    #ratcave{
      width: 400px;
      height: 300px;
      background-image: url('ratcave.png');
      background-repeat: no-repeat;
      position: relative;
      transition: 0.1s linear;
    }

    #batpurple{
      width: 400px;
      height: 300px;
      background-image: url('batpurple.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }
    #skeleton {
      width: 400px;
      height: 300px;
      background-image: url('skeleton.png');
      position: relative;
      transition: 0.1s linear;
      background-repeat: no-repeat;
    }
