.contain-all {
  margin-left: 16px;
}

h1, h2 {
  font-family: 'Press Start 2P', cursive;;
  font-size: 24px;
  margin-top: 50px;
  text-align:left；
}

.answer  {
  font-family: 'Press Start 2P', cursive;;
  font-size: 16px;
  margin-top: 24px;
  text-align:left;
}

.font-change  {
  font-family: 'Press Start 2P', cursive;;
  font-size: 16px;
  margin-top: 24px;
  text-align:left;
}

.font-change input[type="text"] {
  width: 500px;
}
