.container-sign-up {
  position: absolute;
  top: 0;
  background-color: #108DE0;
  height: 100vh;
  width: 100vw;
  padding: 0;
}
.sign-up {
  background-color: whitesmoke;
  box-shadow: 0px 0px 79px -1px rgba(16,141,224,0.52);
  margin-top: 3%;
  margin-inline: 1%;
  font-family: 'Press Start 2P', cursive;
  height: 40rem;
  width: 80rem;
  padding: 1rem;
  position: relative;
  font-size: 60%;
  box-shadow:   -5px 0 0 0 black,
                 5px 0 0 0 black,
                 0 -5px 0 0 black,
                 0 5px 0 0 black;
}

.sign-up-form {
  position: absolute;
  top: 0;
}

.sign-up > h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}
.sign-up .log-in-btn {
  text-decoration: none;
}

.sign-up-btn {
  margin-bottom: 2vh;
  box-shadow:   -5px 0 0 0 black,
                 5px 0 0 0 black,
                 0 -5px 0 0 black,
                 0 5px 0 0 black;
}
